<div class="page-header ">
</br>
  <h1 class="text-center">Add New Course to Datasheet</h1>
  <div class="col-lg-offset-3">
    <%= link_to 'Back to Index', datasheets_path, class: 'btn btn-default' %>
  </div>
</div>

<%= render 'form_new', datasheet: @datasheet %>
