<p id="notice"><%= notice %></p>
</br>
<h3>Date Updated: <%= @date_field.date1.strftime('%-m/%-d/%y') %></h3>
</br>
<%= link_to 'Back to PES Course Index', pes_courses_path, class: 'btn btn-default' %>

<%= link_to 'Edit Date', edit_date_field_path(@date_field), class: 'btn btn-default' %>
