<body class="no-padding">

<div class="row" id="bgimage">
  <nav class="navbar navbar-default nav_op full-square no-padding">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav ">
      <li><a href="#">Page 1</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

  <div class="col-lg-3 hp_theme_1" >
  </br>
  </br>
  <div class="well well-color_test col-lg-offset-1 col-lg-10">
    <h2 class="text-center">Build You CPE</h2>
    <p class="text-center">Add courses to your cart</p>

    <table class="table">
      <thead>
        <tr class="text-center">
          <th width = '50%'>Hours</th>
          <th width = '50%'>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>0-10</td>
          <td>$55</td>
        </tr>
        <tr>
          <td>11-20</td>
          <td>$95</td>
        </tr>
        <tr>
          <td>21-30</td>
          <td>$125</td>
        </tr>
        <tr>
          <td>31-40</td>
          <td>$145</td>
        </tr>
        <tr>
          <td>40+</td>
          <td>$165</td>
        </tr>
      </tbody>
    </table>

  <div class="col-lg-offset-1 col-lg-10">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Course</th>
          <th>Hours</th>
          <th colspan="1"></th>
        </tr>
        <tbody>
          <tr>
            <td>1001</td>
            <td>10</td>
            <td>X</td>
          </tr>
        </tbody>
    </table>
  </br>
  <table class="table table-borderless">
      <thead>
        <tr>
          <th colspan="2" class="text-center">Your Current Package</th>
        </tr>
        <tbody>
          <tr>
            <td><strong>1 Course</strong></td>
            <td><strong>10 hours</strong></td>
          </tr>
          <tr>
            <td><strong>Price</strong></td>
            <td><strong>$55</strong></td>
          </tr>
        </tbody>
    </table>
    <div class="text-center">
      <%= link_to 'Checkout', new_datasheet_path, class: 'btn btn-primary' %>
    </div>
  </div>

  </div>
  </div>
  <div class="col-lg-9 hp_theme_2" >
    <div class="col-lg-offset-1 col-lg-10">
    </br>
      <h1 class="text-center bold"><big>Michigan CPE for CPAs</big></h1>
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</br>
<div class="panel panel-defaul">

      <div class=" panel" >
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#menu2"><h5>10 Hour Courses</h5></a></li>
          <!-- <li><a data-toggle="tab" href="#menu2"><h5>10 Hour Courses </h5></a></li> -->
          <li><a data-toggle="tab" href="#menu3"><h5>5 Hour Courses</h5></a></li>
          <li><a data-toggle="tab" href="#menu4"><h5>3 Hour Courses</h5></a></li>
          <li><a data-toggle="tab" href="#menu5"><h5>2 Hour Courses</h5></a></li>
        </ul>
      </div>
        <div class="tab-content">

          <div id="menu2" class="tab-pane fade in active panel-body">
            <div class="col-lg-12 col-lg-offset-0">
              <h3 class="text-center">Select from our 10 hour courses</h3>
            <table class="table">
              <thead>
                <tr class="text-center">
                  <th>Course</th>
                  <th>Category</th>
                  <th>Title</th>
                  <th colspan="1"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="alert alert-success">
                  <td>1001</td>
                  <td>Auditing</td>
                  <td>Understand the fraudster</td>
                  <td>Good Choice</td>
                </tr>
                <tr class="text-muted">
                  <td>1002</td>
                  <td>Accounting</td>
                  <td>SSARS 21-23</td>
                  <td class="btn btn-link">Add Course</td>
                </tr>
                <tr>
                  <td>1003</td>
                  <td>Taxes</td>
                  <td>Tax cuts and jobs act of 2017 <span class="label label-success">Top pick</span></td>
                  <td>Add Course</td>
                </tr>
                <tr>
                  <td>1004</td>
                  <td>Business</td>
                  <td>CFO Success</td>
                  <td>Add Course</td>
                </tr>
              </tbody>
            </table>

          </div>
          </div>
          <div id="menu3" class="tab-pane fade panel-body">
            <div class=" col-lg-12 col-lg-offset-0">
              <h3 class="text-center">Select from our 5 hour courses</h3>
            <table class="table">
              <thead>
                <tr class="text-center">
                  <th>Course</th>
                  <th>Category</th>
                  <th>Title</th>
                  <th colspan="1"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2001</td>
                  <td>Auditing</td>
                  <td>fraud Analytics</td>
                  <td>Add Course</td>
                </tr>
                <tr>
                  <td>2002</td>
                  <td>Accounting</td>
                  <td>Accounting for New Lease Standard</td>
                  <td>Add Course</td>
                </tr>
                <tr>
                  <td>2003</td>
                  <td>Taxes</td>
                  <td>Pass-Through Entities</td>
                  <td>Add Course</td>
                </tr>
                <tr class="alert-info">
                  <td>2004</td>
                  <td>Business</td>
                  <td>BlockChain Basics (p1) <span class="label label-success">Top Pick</span></td>
                  <td>Add Course</td>
                </tr>
              </tbody>
            </table>

          </div>
          </div>
          <div id="menu4" class="tab-pane fade panel-body">
            <div class=" col-lg-12 col-lg-offset-0">
              <h3 class="text-center">Select from our 3 hour courses</h3>
            <table class="table">
              <thead>
                <tr class="text-center">
                  <th>Course</th>
                  <th>Category</th>
                  <th>Title</th>
                  <th colspan="1"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="alert-info">
                  <td>3001</td>
                  <td>Ethics</td>
                  <td>Michigan Ethics <span class="label label-success">Top Pick</span></td>
                  <td>Add Course</td>
                </tr>
                <tr>
                  <td>3002</td>
                  <td>Accounting</td>
                  <td>Accounting and Financial Reporting: Latest Updates</td>
                  <td>Add Course</td>
                </tr>
                <tr>
                  <td>3003</td>
                  <td>Taxes</td>
                  <td>Investment Income and Expenses</td>
                  <td>Add Course</td>
                </tr>
                <tr>
                  <td>3004</td>
                  <td>Business</td>
                  <td>BlockChain Basics (p2)</td>
                  <td>Add Course</td>
                </tr>
              </tbody>
            </table>

          </div>
          </div>
          <div id="menu5" class="tab-pane fade panel-body">
            <div class=" col-lg-12 col-lg-offset-0">
              <h3 class="text-center">Select from our 2 hour courses</h3>
            </br>
            <table class="table">
              <thead>
                <tr class="text-center">
                  <th>Course</th>
                  <th>Category</th>
                  <th>Title</th>
                  <th colspan="1"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>4001</td>
                  <td>Ethics</td>
                  <td>Frovolous Tax Arguments and Scams</td>
                  <td>Add Course</td>
                </tr>
                <tr class="alert-info">
                  <td>4002</td>
                  <td>Auditing</td>
                  <td>Management Fraud <span class="label label-success">Top Pick</span></td>
                  <td>Add Course</td>
                </tr>
                <tr>
                  <td>4003</td>
                  <td>Taxes</td>
                  <td>Partnership Taxation: General Information</td>
                  <td>Add Course</td>
                </tr>
                <tr>
                  <td>4004</td>
                  <td>Business</td>
                  <td>Transfering Wealth</td>
                  <td>Add Course Course</td>
                </tr>
              </tbody>
            </table>

          </div>
          </div>
        </div>

    </div>
  </div>
  </div>
</br>
</div>
</body>
