<div class="well text-center">
  <h1><big>Empire RC States</big></h1>
</div>
<h2 class="text-center">Add New State</h2>

<div class="box_width_500 down20 grey-b-100">
  <%= render 'form', empire_rc_state: @empire_rc_state %>
</div>

<%= link_to 'Back', empire_rc_states_path %>
