<div class="page-header ">
</br>
  <h1 class="text-center">Update Texas Royality</h1>
  <div class="col-lg-offset-3">
    <%= link_to 'Back to Index', tx_royalties_path, class: 'btn btn-default' %>
  </div>
</div>

<%= render 'form_simple', postcard_mailing: @postcard_mailing %>
