<div class="page-header ">
</br>
  <h1 class="text-center">Calendar</h1>
  <div class="col-lg-offset-2">
    <%= link_to 'Back to Index', calendars_path, class: 'btn btn-default' %>
  </div>
</div>
<%= render 'form', calendar: @calendar %>
