<div class="page-header ">
<!-- </br> -->
  <h1 class="text-center"><%= @course_creation_task.empire_course.title %><br><small>Edit Course Task</small></h1>

  <div class="col-lg-offset-2">
    <!-- <%= link_to 'Back to Index', course_creation_tasks_path, class: 'btn btn-default' %>
    <%= link_to 'Show Task', @course_creation_task, class: 'btn btn-default' %> -->
  </div>
</div>

<%= render 'form_edit', course_creation_task: @course_creation_task %>
