<div class="well jumbotron text-center">
  <h1>Call Log - Stats</h1>
</div>
<div class="col-md-3">
  <h2 class="text-center">Sequoia - All Calls</h2>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th style="width: ">Who</th>
        <th>Calls</th>
      </tr>
    </thead>
    <tbody>
      <% @sequoia_call_log_total.each do |k, v| %>
      <tr>
        <td><%= k %></td>
        <td><%= v %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th style="width: ">Who</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <% @sequoia_call_log_total_time.each do |k, v| %>
      <tr>
        <td><%= k %></td>
        <td><%= v %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
