<div class="page-header ">
</br>
  <h1 class="text-center">Test Page</h1>
</div>

<div class="">
  <%= render(:partial => 'test10') %>
</div>

</br>
<!-- <div class="">
  <%= render(:partial => 'test_2_hp') %>
</div> -->
