<h1 class="text-center">Edit Postcard Mailing</h1>
</br>
<%= render 'form', postcard_mailing: @postcard_mailing %>
</br>
<%= link_to 'View', @postcard_mailing %>
<!-- <%= link_to 'Back', postcard_mailings_path %> -->
