

<div class="page-header ">
</br>
  <h1 class="text-center">Add New Postcard Mailing</h1>
  <div class="col-lg-offset-3">
    <%= link_to 'Back to Index', postcard_mailings_path, class: 'btn btn-default' %>
  </div>
</div>

<%= render 'form', postcard_mailing: @postcard_mailing %>

<!-- <%= link_to 'Back', postcard_mailings_path %> -->
