<h3>HOME</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Task </th>
      <th>Status </th>
      <th>Note </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Course Development</td>
      <td>Add Course</td>
      <td>Add Task</td>
    </tr>
  </tbody>
</table>
