<h2>Master List Links</h2>

<ul>
  <li><%= link_to 'Master CPA Index', master_cpas_path() %></li>
  <li><%= link_to 'Master CPA Matches', master_cpa_matches_path() %></li>
  <li><%= link_to 'Master CPA No Match', master_cpa_no_matches_path() %></li>
  <li><%= link_to 'CPA List Match/Search', cpa_customers_master_cpas_path() %></li>
</ul>
