<div class="text-center">
  <h2 class="">Sequoia Match</h2>
  <%= link_to 'CPA Customers', master_cpas_path, class: 'btn btn-success'%>
  <%= link_to 'EA Customers', master_eas_path, class: 'btn btn-success'%>
</div>
<br>
