<div class="text-center">
  <h2 class="">Update Data</h2>
  <br>
<%= link_to 'Empire', data_mailing_empire_nms_path, target: "_blank", class: 'btn btn-lg btn-success' %> <%= link_to 'Sequoia', data_s_customers_path, target: "_blank", class: 'btn btn-lg btn-success' %>
<br><br>
  <p>https://sequoia-courses.herokuapp.com/s_customers/data</p>
</div>
