<div class="text-center">
  <h2 class="">Update Data</h2>
<%= link_to 'Run Empire', data_mailing_empire_nms_path, target: "_blank", class: 'btn btn-success' %>
<%= link_to 'Run Sequoia', data_s_customers_path, target: "_blank", class: 'btn btn-success' %>
<br><br>
</div>
