<h1>Empire#dash</h1>
<p>Find me in app/views/empire/dash.html.erb</p>

<%= link_to('Empire RC Mailjet', 'https://app.mailjet.com/contacts/lists/edit/7yAC', target: :_blank) %>
<%= link_to('sample', copyrights_path)%>
