// Place all the styles related to the Mailings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blue {
    color: blue;
}
.green {
    color: green;
}
.red {
    color: red;
}

.gi-2x{
  font-size: 2em;
}
.gi-3x{
  font-size: 3em;
}
.gi-4x{
  font-size: 4em;
}
.gi-5x{
  font-size: 5em;
}

@media screen {

  .print-only {
    display: none;
  }
}

@media print {

  .display-none {
    display: none;
  }

}
