// Place all the styles related to the MasterLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pad-10 {
  padding-left: 10px
}
.pad-15 {
  padding-left: 15px
}


.grey-b-100 {
  background-color: #f8f9fa
}

table.table.table-outline {
    border: 1px solid #adb5bd;
}
