<h1>Editing Sequoia Customer Match</h1>

<%= render 'form', sequoia_customer_match: @sequoia_customer_match %>

<%= link_to 'Show', @sequoia_customer_match %> |
<%= link_to 'Back', sequoia_customer_matches_path %>
