<h1>Editing Copyright</h1>
</br>
<div><%= link_to 'Back to List', copyrights_path, class: 'btn btn-primary' %></div>
</br>
<%= render 'form', copyright: @copyright %>

<!-- <%= link_to 'Show', @copyright %> | -->
