<div class="page-header ">
</br>
  <h1 class="text-center">Add New Course Copyright</h1>
  <div class="col-lg-offset-3">
    <%= link_to 'Back to Index', copyrights_path, class: 'btn btn-default' %>
  </div>
</div>

<%= render 'form', copyright: @copyright %>

<!-- <%= link_to 'Back', copyrights_path %> -->
