<div class="page-header ">
</br>
  <h1 class="text-center">Add New Live Chat Answer</h1>
  <div class="col-lg-offset-2">
    <%= link_to 'Back to Index', live_chat_answers_path, class: 'btn btn-default' %>
  </div>
</div>
</br>
<%= render 'form', live_chat_answer: @live_chat_answer %>
