<div class="page-header ">
</br>
  <h1 class="text-center">Edit Course Comment</h1>
  <div class="col-lg-offset-3">
    <%= link_to 'Back to Index', course_comments_path, class: 'btn btn-default' %>
  </div>
</div>

<%= render 'form_edit', course_comment: @course_comment %>
