<td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">View Note</button></td>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">

          <%= updatesheet.seq_number %><%= updatesheet.seq_version %> - <%= updatesheet.seq_title %>

        </h4>
      </div>
      <div class="modal-body">
        <h4> Course Notes/Proofer Notes: <h4>
        <p><%= render 'form', updatesheet: @updatesheet %></p>
      </div>
  </div>
</div>
</div>
